*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #A3CB38;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

/* .car-container{
    width: 27.333%;
     display: flex;             //we can use float
     justify-content: space-between;
     align-items: center;
    padding: 10px 10px;

}

.w-3-33{
 margin-right: 10px;
} */

.w-3-33{
    width: 33.33%; 
   float: left;
padding: 20px;
}
.card-container{
     padding: 100px 0 0 ; /*upper-30 side-0 lower-0  */
     
    
}
.card{
    background-color: antiquewhite;
    position: relative;
    border-radius: 10px ;   
    box-shadow: 0px 3px 23px 3px rgb(0,0,0,0.5);  /*left,top,blaur*/   /*0.5 is opacity*/
    /*  */
    height: 160px;
    margin:0 25px;   /*upr nich 0,dan bam 44*/
    top: 90px;
    cursor: pointer;
    transition-delay: 0.2ss;
    transition: 0.5s  ease-in-out;

}
.card-img{
  width: 62%;
  position: relative;
  left: 19%;
  top: -75px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5); 
}
.card-img img{
    width: 100%;
    height: auto;
    
}

.card-description{
    text-align: center;
    padding:16px ;
    position: relative;
    top: -70px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    transition-delay: 0s;
   
}
.card-description h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.card-description p{
   font-size: 18px;
}
.card-description a{
    display: inline-block;
    text-decoration: none;
    background-color: aqua;
    color:black ;
    padding: 13px 35px;
    border-radius: 7px;
    border: black;
    font-size: 18px;
    margin-top: 20px;



}

.card:hover{
    transition-delay: 0s;
    height: 400px;
    top: 0;

}

.card:hover .card-description{
    transition-delay: 0.5s;  /* start hote .5s lagbe*/
    visibility: visible;
    opacity: 1;
   
}
